body {
    background:#999;
    font-family: arial;

}

h1, h2, p, li {
    color: #0000;
}

a {
    color:green;
}

a, a:visited {
	text-decoration: none;
	color: #D7661C;
	border-bottom: 1px dotted #ccc;
}

html {
	background: transparent url(htmlbg.jpg) repeat-x;
}

p {
    background: #666;
    color: white;
    padding: 10px 0px;
}