body, html {
	height: 100%;
}

p {
	font-family: Cambria;
	font-weight: 200;
	font-size: 110%;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 50px;
	color: #000;
	height: auto;
	width: 70em;
	text-align: justify;
	word-wrap: initial;
	}

p3 {
	font-family: Cambria;
	font-weight: 200;
	font-size: 110%;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 50px;
	color: #000;
	height: auto;
	width: 70em;
	word-wrap: initial;
	text-align: justify;
	
	}
/*Home/Index Page, Emotional Intelligence -Headings*/
h1 {
	font-family: Georgia;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0.5px;
	color: #000;
	font-size: 350%;
}

h2 {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #000;
	font-size: 180%;
}

h3 {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #000;
	font-size: 150%;
}
/*Reflection Blogs - Headings*/
.header1 {
	font-family: Georgia;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0.5px;
	color:#ffffff;
	font-size: 350%;
	}

.header2 {
	font-family: Courier;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
	color:#ffffff;
	font-size: 200%;
	}

.header3 {
	font-family: Courier;
	font-weight: bold;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #ffffff;
	font-size: 150%;
	}

.header4{
	font-family:Courier;
	font-weight: 200;
	font-size: 110%;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 50px;
	color: #ffffff;
	height: auto;
	width: 70em;
	text-align: justify;
	word-wrap: initial;
	}

/*Time and Habits Blog - Headings*/
head1 {
	font-family: Georgia;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 0.5px;
	color: #000;
	font-size: 350%;
	}
	
head2 {
	font-family: Cambria;
	text-indent: 200px;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #000;
	font-size: 200%;
	}
	
head3 {
	font-family: Cambria;
	text-indent: 200px;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #000;
	font-size: 130%;
	}

/*Udacity Blog Part 1*/
hd1 {
	font-family: Georgia;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 0.5px;
	color: #000;
	font-size: 350%;
	}

hd2 {
	font-family: Times New Roman;
	font-weight: bold;
	text-align: left;
	text-indent: 200px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	color:#000;
	font-size: 200%;
	}

hd3 {
	font-family: Times New Roman;
	font-weight: bold;
	text-align: left;
	text-indent: 200px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #000;
	font-size: 130%;
	}

/*Udacity Blog Part Two - Headings*/
.headings1 {
	font-family: Georgia;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0.5px;
	color: red;
	font-size: 350%;
	}

.headings2 {
	font-family: Courier;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
	color:red;
	font-size: 200%;
	}

.headings3 {
	font-family: Courier;
	font-weight: bold;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	color: red;
	font-size: 150%;
	}

.headings4 {
	font-family:Courier;
	font-weight: 200;
	font-size: 110%;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 50px;
	color: red;
	height: auto;
	width: 70em;
	text-align: justify;
	word-wrap: initial;
	}	

/* Homepage(Index Page) Background Image*/
.background {
	/* The image used */
	background-image: url("../img/workoffice.jpg");

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/* Reflection Blog One - Image */
.background1 { 
	background-image: url("../img/background2.jpg");
	height: 180%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*c1-time and habits reflection - Image*/
.background2 { 
	background-image: url("../img/whitewash.jpg");
	height: 150%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*Udacity Blog Part 1 - Images*/	
.background3 { 
	background-image: url("../img/Colourful.jpg");
	height: 150%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*Ucadity Blog Part 2 - Images */
.background4 { 
	background-image: url("../img/lights1.jpg");
	height: 150%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
	}
	
/*Emotional Intelligence Blog - Images */	
.background5 { 
	background-image: url("../img/zigzag.jpg");
	height: 120%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/* Homepage(Index Page) Buttons*/
	input.MyButton1 {
		width: 190px;
		padding: 10px;
		cursor: pointer;
		font-weight: bold;
		font-size:90%;
		background: #51545a;
		border-color: #e7e7e7;
		color: #fff;
		border: 3px solid #0d0e11;
		border-radius: 10% / 50%;
		-moz-box-shadow: 6px 6px 6px 5px #999;
		-webkit-box-shadow: 6px 6px 6px 5px #999;
		box-shadow: 6px 6px 6px 5px #999;
		}
		input.MyButton1:hover {
		color: #804000;
		background: #ffe6cc;
		border: 1px solid #804000;
		}

 /* Reflection Blog One - Button*/
	input.MyButton2 {
		width: 250px;
		padding: 10px;
		cursor: pointer;
		font-weight: bold;
		font-size:110%;
		background: #cc0000;
		border-color: #f44336;
		color:#000;
		border: 3px solid #660000;
		border-radius: 25px;
		float: right;

		}
	input.MyButton2:hover {
		background: #f44336;
		color: white;
		border: 1px solid #fff;
		}
 
/* c1 Time and Habits Blog Buttons */
	input.MyButton3 {
		width: 250px;
		padding: 20px;
		cursor: pointer;
		font-weight: bold;
		font-size:90%;
		background: #999;
		border-color: #000;
		color: blue;
		border: 3px solid #0d0e11;
		border-radius: 25px;
		float: right;
		}
	input.MyButton3:hover {
		background-color: #4CAF50;
		color: white;
		border: 1px solid #fff;
		}

  /*Udacity Part 1 - Buttons*/
  	input.MyButton4 {
		width: 250px;
		padding: 20px;
		cursor: pointer;
		font-weight: bold;
		font-size:90%;
		background: #51545a;
		border-color: #ff9999;
		border: 3px solid #0d0e11;
		border-radius: 25px;
		float: right;
		}
	input.MyButton4:hover {
		background: #ff9999;
		color: white;
		border: 1px solid #fff;
		}
	
   /*Udacity Blog Part 2 - Buttons */
	input.MyButton5 {
		width: 250px;
		padding: 20px;
		cursor: pointer;
		font-weight: bold;
		font-size:90%;
		background: #51545a;
		border-color: #ff9800;
		color: orange;
		border: 3px solid #0d0e11;
		border-radius: 25px;
		float: right;
		}
	input.MyButton5:hover {
		background: #ff9800;
		color: white;
		border: 1px solid #fff;
		}	
  
   /* Emotional Intelligence - Button */
   	input.MyButton6 {
		width: 250px;
		padding: 20px;
		cursor: pointer;
		font-weight: bold;
		font-size:90%;
		background: #51545a;
		border-color: #2196F3;
		color: dodgerblue;
		border: 3px solid #0d0e11;
		border-radius: 25px;
		float: right;
		}
	input.MyButton6:hover {
		background: #2196F3;
		color: white;
		border: 1px solid #fff;
		}	  
